/*Main*/
h1, h2, h3, h4, h5, h6, p, span, div, a, ul, li {
	padding: 0px;
	margin: 0;
    box-sizing: border-box;
    /* margin-bottom: 5px; */
}

ul{
    list-style: none;
    
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

img{
    border-radius: 8px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    margin: 0 0 24px;
    line-height: 22px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}



section{
    box-shadow: 0 0 5px rgba(206, 206, 206, 1);
    border-radius: 5px;
    margin-top: 48px;
    padding: 25px;
}


.headers{
    display: block;
    width: 100%;
    height: 58px;
    color: #837f7f;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
   
}

.d_flex{
    display: flex;
}

.space_between{
    justify-content: space-between;
}

.center{
    justify-content:center;
   align-items: flex-start;
}

.icon_btns a {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: center;
    padding: 8px 6px;
    }

    .icon_btns{
        display: flex;
    }

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
.container {
	width: 750px;
}
}
@media (min-width: 992px) {
.container {
	width: 970px;
}
}
@media (min-width: 1200px) {
.container {
	width: 1170px;
}
}