.user_photo{
    margin-top: 25px;
}



.profile_body {
    margin: 20px 0 24px;
}

.form{
    padding-top: 30px;
}

.form__inner{
    padding-bottom: 40px;
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.form__box{
    min-width: 850px;
    padding-top: 45px;
}

.form__box_inner{
    display: flex;
    justify-content: space-between;
}

.form__box_left{
    max-width: 460px;
    width: 100%;
}




.form__box_inner label, 
.form__box_inner input{
    width: 100%;
    display: block; 
}

.form__box_inner label{
    line-height: 36px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
}

.form__box_inner input{
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
}

.login__component{
    margin-top: 160px;
}


.login__btn{
    border: 1px solid #fff;
    background: #0099ff;
    font-weight: bold;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 15px;
    margin-bottom: 15px;
    cursor: pointer;
}